//Sass code goes here 
 @import 'variables';

p, h1, h2, h3, h4, a {
	color: $colorGray;
}

body {
    background: $BackgroundWhite;
    font-family: $fontApexBook;
}

#banner {
    width: 320px;
    height: 50px;
}

#collapse-banner {
    width: 318px;
    height: 48px;
    background: $BackgroundWhite;
    overflow: hidden;
    cursor: pointer;
    border: 1px $borderGray solid;
    position: relative;

    h1 {
		position: absolute;
		font-size: $collapsedTitle;
		top: 10px;
		left: 78px;
		color: $colorGray;
		opacity: $opacityCero;
	}

	h2 {
	    position: absolute;
	    font-size: $collapsedTitle;
	    top: 28px;
	    left: 78px;
	    color: $colorGray;
	    opacity: $opacityCero;
	}

	span {
	    font-family: $fontHelvetica;
	    position: absolute;
	    font-size: 11px;
	    text-align: right;
	    top: 34px;
	    right: 10px;
	    color: $verizonRed;
	    opacity: $opacityCero;
	}

	#logo_collapse {
	    margin-left: 10px;
	    margin-top: 4px;
	    width: 50px;
	    height: 38px;
	    background: url(../img/logo-verizon-red.svg) no-repeat;
	}
}

#expanded-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 298px;
    height: 414px;
    background: $BackgroundWhite;
    display: none;
    opacity: $opacityCero;
    overflow: hidden;
    border: 1px $colorGray solid;

	#generalClose {
	    width: 20px;
	    height: 20px;
	    background: url(../img/close.png);
	    background-size: contain;
	    position: absolute;
	    z-index: 1000;
	    top: 5px;
	    right: 5px;
	    display: block;
	    cursor: pointer;
	}

	#logo {
	    margin-left: $verizonTabMargin;
	    margin-top: 0;
	    width: 13%;
	    height: 13%;
	    min-width: 110px;
	    max-width: 130px;
	    background: url(../img/logo-verizon.svg) no-repeat;
	    opacity: $opacityCero;
	    position: absolute;
	    z-index: 7;
	}

	#info {

		#Droid_logo {
			background: url(../img/logo_droidturbo.svg) no-repeat;
			width: 145px;
			height: 48px;
			position: absolute;
			top: 38%;
			left: 0;
			right: 0;
			display: block;
			margin: 0 auto;
			opacity: $opacityCero;
		}

		.device_fte_frame {
			position: absolute;
			width: 237px;
		    height: 451px;
			top: -70%;
		    left: 0;
		    right: 0;
		    margin: 0 auto;
		    z-index: 6;
		    opacity: $opacityCero;
		    transform:scale(0.7,0.7);

		    .device_bck {
				background: url(../img/deviceN_bck.jpg) no-repeat;
				background-size: contain;
				width: 237px;
			    height: 451px;
			    position: absolute;
			    top: 0;
			    left: 0;
			    @include border-radius(20px);
			    opacity: $opacityCero;

			    #colorize-bck {
					background: url(../img/device_bck-orange.svg) no-repeat;
					background-size: 237px 451px;
					width: 237px;
					height: 451px;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1000;
					opacity: 0.8;
				}
			}

		    .device_fte {
				background: url(../img/deviceN_fte.jpg) no-repeat;
				width: 233px;
			    height: 451px;
			    position: absolute;
			    top: 0;
			    left: 0;
			    @include border-radius(30px);
				
				#lifestyle {
					background: url(../img/lifestyle_dads.jpg) no-repeat;
					width: 210px;
					height: 369px;
					position: absolute;
					top: 30px;
					left: 11px;
					z-index: 100;
				}

				#colorize-fte {
					background: url(../img/device_fte-orange.svg) no-repeat;
					background-size: 237px 451px;
					width: 233px;
					height: 451px;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1000;
					opacity: 0.8;
				}

				.colorizeOrange {
					color: #e89d79;
				}

				.colorizeBlue {
					color: #6693af;
				}

				.colorizeViolet {
					color: #c0208f;
				}
			}

			.shadow {
				background: url(../img/shadow.jpg) no-repeat;
				width: 270px;
				height: 50px;
				position: absolute;
				top: 426px;
				left: -18px;
				right: 0;
				z-index: -1;
				background-size: cover;
				margin: 0 auto;
			}
		}

		.titles {
		    position: absolute;
		    width: 100%;
		    left: $verizonTabMargin;
		    font-size: $expandedTitles300+px;
		    opacity: $opacityCero;
		    text-align: left;
		}

		#f1 {
			#f1_txt1 {
				bottom: 42px;
				left: -270px;
			}

			#f1_txt2 {
				bottom: 15px;
				left: -270px;
			}

			display: block;
		}

		#f2 {
			#f2_txt1 {
				bottom: 42px;
				left: -270px;
			}

			#f2_txt2 {
				bottom: 15px;
				left: -270px;
			}

			display: block;
		}

		#f3 {

			#f3_txt1 {
				top: 127px;
				left: -270px;
			}

			#f3_txt2 {
				top: 155px;
				left: -270px;
			}

			#f3_txt3 {
				top: 181px;
				left: -270px;
			}

			display: block;
		}

		#f4 {
			#f4_txt1 {
				top: 127px;
				left: -270px;
			}

			#f4_txt2 {
				top: 155px;
				left: -270px;
			}
			
			#f4_txt3 {
				bottom: 70px;
				text-align: center;
				left: 0; 
				right: 0;
				margin: 0 auto;
				font-size: $bulletsSize+px;
				opacity: $opacityCero;
			}

			.bullets {
				position: absolute;
				top: 230px;
				width: 70%;
				left: 0;
				right: 0;
				margin: 0 auto;

				ul{
					li {
						position: absolute;
						span {
							cursor: pointer;
							font-size: $bulletsSize+px;
							width: 50px;
							padding-top: 42px;
							display: inline-block;
							text-align: center;
						}

						.orange {
							color: #e89d79;
							background: url(../img/dot_orange.jpg) no-repeat top center;
							opacity: $opacityCero;
						}

						.blue {
							color: #6693af;
							background: url(../img/dot_blue.jpg) no-repeat top center;
							opacity: $opacityCero;
						}

						.violet {
							color: #c0208f;
							background: url(../img/dot_violet.jpg) no-repeat top center;
							opacity: $opacityCero;
						}
					}

					li:first-child {
						z-index: 1;
					}

					li:last-child {
						right: 0;
					}

					li:nth-child(2) {
						left: 0;
						right: 0;
						text-align: center;
					}
				}
			}

			display: block;
		}

		#f5 {
			#f5_txt1 {
				top: 30%;
				text-align: center;
				left: 0;
				right: 0;
				font-size: 20px;

			}

			display: block;
		}

		#f6 {
			#f6_txt1 {
				top: 126px;
				text-align: center;
				left: 0;
				right: 0;
				font-size: 20px;

			}
		}
		
		#f7 {
			#f7_txt1 {
				top: 126px;
				text-align: center;
				left: 0;
				right: 0;
				font-size: 20px;
			}
		}

		#f8 {
			#f8_txt1 {
				top: 136px;
				text-align: left;
				left: $verizonTabMargin;
				font-size: 21px;
				line-height: 26px;
				width: 54%;
				left: -270px;
			}

			#f8_txt2 {
				bottom: -10px;
				text-align: left;
				left: $verizonTabMargin;
				font-size: 13px;
				line-height: 18px;
				opacity: $opacityCero;
			}

			display: block;
		}

		#ff {

			#ff-left {

				width: 170px;
				position: absolute;
				top: 155px;

				.bullets {
					position: absolute;
					top: 120px;
					width: 125px;
					left: 0;
					right: 0;
					margin: 0 auto;

					ul{
						li {
							span {
								cursor: pointer;
								font-size: $bulletsSize+px;
								width: 50px;
								padding-top: 42px;
								display: inline-block;
								text-align: center;
							}

							.orange {
								color: #e89d79;
								background: url(../img/dot_orange.jpg) no-repeat top center;
								opacity: $opacityCero;
							}

							.blue {
								color: #6693af;
								background: url(../img/dot_blue.jpg) no-repeat top center;
								opacity: $opacityCero;
							}

							.violet {
								color: #c0208f;
								background: url(../img/dot_violet.jpg) no-repeat top center;
								opacity: $opacityCero;
							}
						}

						li.firstChild {
							margin-right: 13px;
							margin-left: 7px;
						}
					}
				}

				.Redbutton {
					@include redButton(13px);
					top: 70px;
					left: 25%;
					opacity: $opacityCero;
				}
				
				.Redbutton:hover {
					@include redButtonHover();	
				}

				#ff_txt1 {
					font-size: $bulletsSize+px;
					text-align: center;
					top: 175px;
					opacity: $opacityCero;
				}
			}
		}
	    
	    .frame {
	    	display: none;
	    }
	}
}